* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: initial;
}


body {
	height: 100vh;
	background-color: white;
	/*溢出隐藏*/
	overflow: hidden;
	opacity: 1;
	overflow: auto;
	overflow-x: hidden;
}

/* 设置大幕的大小为 */
@media screen and (min-width: 1200px) {
	.nei_p1 {
		color: blanchedalmond;
		line-height: 50px;
		font-size: 26px;
		text-align: center;
		font-weight: Bold;
	}

	.nei_p2 {
		color: black;
		line-height: 50px;
		font-size: 26px;
		text-align: center;
		font-weight: Bold;
	}

	.biaoti_a_a {
		font-size: 540%;
	}

	.biaoti_b_b {
		font-size: 360%;
	}

	.shouyeneirong_p {
		font-size: 115%;
		letter-spacing: 0.1em;
		line-height: 2;
		text-indent: 2em;
		font-weight: Bold;
	}


	.bianti_a {
		display: inline;
		position: absolute;
		top: 45%;
		left: 19%;
	}



	.bianti_b {
		position: absolute;
		top: 120%;
		left: 19%;

	}



	.shouyeneirong {
		position: absolute;
		top: 280%;
		left: 20%;
		width: 72%;
	}
}

/* 设置中等屏幕的大小为 */
@media screen and (max-width: 1200px) and (min-width: 768px) {
	.nei_p1 {
		color: blanchedalmond;
		line-height: 50px;
		font-size: 20px;
		text-align: center;
		font-weight: Bold;
	}

	.nei_p2 {
		color: black;
		line-height: 50px;
		font-size: 20px;
		text-align: center;
		font-weight: Bold;
	}

	.biaoti_a_a {
		font-size: 300%;
	}

	.biaoti_b_b {
		font-size: 150%;
	}

	.shouyeneirong_p {
		font-size: 72%;
		letter-spacing: 0.1em;
		line-height: 2;
		text-indent: 2em;
		font-weight: Bold;
	}
	
	
	.bianti_a {
		display: inline;
		position: absolute;
		margin-top: 5%;
		left:20%;
	}
	
	
	
	.bianti_b {
		position: absolute;
		margin-top: 13%;
		left: 20%;
	}
	
	
	
	.shouyeneirong {
		position: absolute;
		margin-top: 30%;
		left: 20%;
		width: 72%;
	}
}

/* 设置小屏幕的大小为 */
@media screen and (max-width: 768px) {
	.nei_p1 {
		color: blanchedalmond;
		line-height: 50px;
		font-size: 15px;
		text-align: center;
		font-weight: Bold;
	}

	.nei_p2 {
		color: black;
		line-height: 50px;
		font-size: 15px;
		text-align: center;
		font-weight: Bold;
	}

	.biaoti_a_a {
		font-size: 150%;
	}
	
	.biaoti_b_b {
		font-size: 75%;
	}
	
	.shouyeneirong_p {
		font-size: 5px;
		letter-spacing: 0.1em;
		line-height: 2;
		text-indent: 2em;
		font-weight: Bold;
	}
	
	
	.bianti_a {
		display: inline;
		position: absolute;
		margin-top: 5%;
		left:20%;
	}
	
	
	
	.bianti_b {
		position: absolute;
		margin-top: 13%;
		left: 20%;
	}
	
	
	
	.shouyeneirong {
		position: absolute;
		margin-top: 30%;
		left: 20%;
		width: 72%;
	}
}


.box_1 {
	width: 100vh;
	height: 1080px;
}

.bg {
	background-color: w;
	width: 12.5%;
	height: 100%;
	left: 0;
	top: 0;
	flex: 1;
	float: left;
	position: fixed;
	overflow: auto;
}

.shouyeneirong_box{
	width: 100%;
	height: 23%;
	position: absolute;
}


.huiye_toudi {
	position: fixed;
	width: 12.5%;
	left: 0;
	top: 0;
	overflow: hidden;
	opacity: 1;
	z-index: 1;
}

.logo_zuoshang {
	position: fixed;
	width: 12.5%;
	z-index: 2;
}

.logo_zuoshang_nei {
	display: block;
	margin-top: 9.5%;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

.t_box {
	position: absolute;
	width: 100%;
	margin-top: 100%;
	z-index: 3;
}

.daohang_hei:hover {
	background-color: black;
}

.daohang_huang:hover {
	background-color: black;
}

.daohang_qian_a {
	max-height: 50px;
}


.daohang_hei {
	background-color: black;
	color: black;
	height: 100%;
	opacity: 1;
}

.daohang_huang {
	background-color: burlywood;
	height: 100%;
	opacity: 1;
}



.nei_p1:hover {
	color: burlywood;
}

.nei_p2:hover {
	color: burlywood;
}


.nei_p2 {
	color: black;
	line-height: 50px;
	font-size: 26px;
	text-align: center;
	font-weight: Bold;
}

.sybj {
	margin-left: 12.5%;
	position: absolute;
	width: 88%;
}





.shouy_ditu {
	width: 100%;

}

.xian {
	border: 1px solid black;
}





.hudong_xiangqing {
	position: absolute;
	margin-top: 50%;
	margin-left: 12.5%;
	width: 88%;
}

.d2_1 {

	width: 100%;
}

.huodongxiangqing_di {

	width: 100%;
}


.d2_3 {
	position: absolute;
	margin-top: 50%;
	margin-left: 23%;
	width: 100%;
	overflow: auto;
}

.d2_2 {
	position: absolute;
	margin-top: 86%;
	margin-left: 18%;
	width: 100%;
}

.d2_4 {
	position: absolute;
	margin-top: 90.5%;
	margin-left: 20%;
	width: 100%;
}



.d2_4_1 {
	width: 50%;
	font-weight: Bold;
	line-height: 2;
	font-size: 150%;
	display: inline;
	text-align:left;
	vertical-align:top;

}

.d2_4_1_1 {
	margin-left: 0.5%;
	font-size: 125%;
	line-height: 2.4;
	display: inline-block;
	width: 50%;
	text-align:left;
	
}
